EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_IGNORE_TLS=false
EMAIL_USER=your@email.com
EMAIL_PASSWORD=your-password
EMAIL_FROM=no-reply@example.com
EMAIL_TO_RECIVE_ERROR=example@email.com

SEND_PENDING_ON_STARTUP=false

WEEK_DAY='wed'
DAY_HOUR=9
DAY_MIN=17

#REDIS_HOST=redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0